$color_bg:      #373838;
$color_header:  #4A92FE;
$color_table_1: lighten($color_header, 20);
$color_table_2: lighten($color_header, 30);

html body {
  font-family: Helvetica, sans-serif;
  background-color: $color_bg;
  margin: 0;
}

//Queue
#queue {
  .queueitem {
    float: left;
    //min-width: 130px;
    width: calc(100% / 8 - 20px);
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 24px;

    &:nth-child(-n+4) {
      background-color: lime;
      font-weight: bold;
    }

    &:nth-child(n+5) {
      background-color: red;
    }
  }
}

//Filters
#filter-form {
  clear: both;
  color: white;
}

#nogames {
  display: none;
  color: white;
  width: 100%;
  text-align: center;
  margin: 10px;
}

//Graphs
.graph {
  float: left;
  width: 50%;
  margin: 10px 0;
}

//Table
#result-table {
  clear:both;
  border-collapse:collapse;
  width: 100%;

  //Bold borders
  td:nth-child(3n-1) {
    border-left: 2px solid black;
  }
  tr:nth-child(1) th {
      border-left: 2px solid black;
    &:first-child {
      border-left: 1px solid black !important;
    }
  }
  tr:nth-child(2) th:nth-child(3n-1) {
     border-left: 2px solid black;
  }

  tr:nth-child(1), tr:nth-child(2) {
    th, td {
      background-color: $color_header !important;
    }
  }

  tr:nth-child(even) {
    th, td {
      background-color: $color_table_1;
    }
  }

  tr:nth-child(odd) {
    th, td {
      background-color: $color_table_2;
    }
  }

  th,td {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
  }
}

@media screen and (max-width: 700px) {
  //Queue
  .queueitem {
    width: calc(100% / 4 - 20px) !important;

    &:nth-child(5) {
      clear: left;
    }
  }

  //Graphs
  .graph {
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 450px) {

}