html body {
  font-family: Helvetica, sans-serif;
  background-color: #373838;
  margin: 0; }

#queue .queueitem {
  float: left;
  width: calc(100% / 8 - 20px);
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-size: 24px; }
  #queue .queueitem:nth-child(-n+4) {
    background-color: lime;
    font-weight: bold; }
  #queue .queueitem:nth-child(n+5) {
    background-color: red; }

#filter-form {
  clear: both;
  color: white; }

#nogames {
  display: none;
  color: white;
  width: 100%;
  text-align: center;
  margin: 10px; }

.graph {
  float: left;
  width: 50%;
  margin: 10px 0; }

#result-table {
  clear: both;
  border-collapse: collapse;
  width: 100%; }
  #result-table td:nth-child(3n-1) {
    border-left: 2px solid black; }
  #result-table tr:nth-child(1) th {
    border-left: 2px solid black; }
    #result-table tr:nth-child(1) th:first-child {
      border-left: 1px solid black !important; }
  #result-table tr:nth-child(2) th:nth-child(3n-1) {
    border-left: 2px solid black; }
  #result-table tr:nth-child(1) th, #result-table tr:nth-child(1) td, #result-table tr:nth-child(2) th, #result-table tr:nth-child(2) td {
    background-color: #4A92FE !important; }
  #result-table tr:nth-child(even) th, #result-table tr:nth-child(even) td {
    background-color: #afcfff; }
  #result-table tr:nth-child(odd) th, #result-table tr:nth-child(odd) td {
    background-color: #e2eeff; }
  #result-table th, #result-table td {
    text-align: center;
    border: 1px solid black;
    padding: 5px; }

@media screen and (max-width: 700px) {
  .queueitem {
    width: calc(100% / 4 - 20px) !important; }
    .queueitem:nth-child(5) {
      clear: left; }

  .graph {
    float: none;
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
